In [1]:

# ðŸ’¡ **Question 1**

# Convert 1D Array Into 2D Array

# You are given a **0-indexed** 1-dimensional (1D) integer array original, and two integers, m and n. You are tasked with creating a 2-dimensional (2D) array with Â m rows and n columns using **all** the elements from original.

# The elements from indices 0 to n - 1 (**inclusive**) of original should form the first row of the constructed 2D array, the elements from indices n to 2 * n - 1 (**inclusive**) should form the second row of the constructed 2D array, and so on.

# Return *an* m x n *2D array constructed according to the above procedure, or an empty 2D array if it is impossible*.

In [10]:
def convert_to_2d_array(original, m, n):
    if m * n != len(original):
        return []

    result = []
    for i in range(m):
        row = original[i * n : (i + 1) * n]
        result.append(row)

    return result





original = [1, 2, 3, 4, 5, 6]
m = 2
n = 3
result = convert_to_2d_array(original, m, n)
print(result)

[[1, 2, 3], [4, 5, 6]]

In [2]:
# <aside>
# ðŸ’¡ **Question 2**

# You have n coins and you want to build a staircase with these coins. The staircase consists of k rows where the ith row has exactly i coins. The last row of the staircase **may be** incomplete.

# Given the integer n, return *the number of **complete rows** of the staircase you will build*.

# </aside>

In [11]:
def complete_rows(n):
    left = 0
    right = n
    while left <= right:
        mid = left + (right - left) // 2
        coins_needed = (mid * (mid + 1)) // 2

        if coins_needed <= n:
            left = mid + 1
        else:
            right = mid - 1

    return left - 1


n = 14
result = complete_rows(n)
print(result)

4

In [3]:
# <aside>
# ðŸ’¡ **Question 3**

# Given an integer array nums sorted in **non-decreasing** order, return *an array of **the squares of each number** sorted in non-decreasing order*.

# **Example 1:**

# **Input:** nums = [-4,-1,0,3,10]

# **Output:** [0,1,9,16,100]

# **Explanation:** After squaring, the array becomes [16,1,0,9,100].

# After sorting, it becomes [0,1,9,16,100].

# </aside>

In [12]:
def sorted_squares(nums):
    n = len(nums)
    result = [0] * n
    left = 0
    right = n - 1
    index = n - 1

    while left <= right:
        left_square = nums[left] * nums[left]
        right_square = nums[right] * nums[right]

        if left_square > right_square:
            result[index] = left_square
            left += 1
        else:
            result[index] = right_square
            right -= 1

        index -= 1

    return result


nums = [-4, -1, 0, 3, 10]
result = sorted_squares(nums)
print(result)

[0, 1, 9, 16, 100]

In [4]:
# <aside>
# ðŸ’¡ **Question 4**

# Given two **0-indexed** integer arrays nums1 and nums2, return *a list* answer *of size* 2 *where:*

# - answer[0] *is a list of all **distinct** integers in* nums1 *which are **not** present in* nums2*.*
# - answer[1] *is a list of all **distinct** integers in* nums2 *which are **not** present in* nums1.

# **Note** that the integers in the lists may be returned in **any** order.

# </aside>

In [13]:
def find_disjoint(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    distinct_nums1 = set1 - set2
    distinct_nums2 = set2 - set1

    return [list(distinct_nums1), list(distinct_nums2)]


nums1 = [1, 2, 2, 3, 4]
nums2 = [2, 3, 5]
result = find_disjoint(nums1, nums2)
print(result)

[[1, 4], [5]]

In [5]:
# <aside>
# ðŸ’¡ **Question 5**

# Given two integer arrays arr1 and arr2, and the integer d, *return the distance value between the two arrays*.

# The distance value is defined as the number of elements arr1[i] such that there is not any element arr2[j] where |arr1[i]-arr2[j]| <= d.

# </aside>

In [14]:
def distance_value(arr1, arr2, d):
    distance = 0
    for num1 in arr1:
        found = False
        for num2 in arr2:
            if abs(num1 - num2) <= d:
                found = True
                break
        if not found:
            distance += 1

    return distance

arr1 = [4, 5, 8]
arr2 = [10, 9, 1, 2]
d = 3
result = distance_value(arr1, arr2, d)
print(result)

0

In [6]:
# <aside>
# ðŸ’¡ **Question 6**

# Given an integer array nums of length n where all the integers of nums are in the range [1, n] and each integer appears **once** or **twice**, return *an array of all the integers that appears **twice***.

# You must write an algorithm that runs in O(n) time and uses only constant extra space.

# </aside>

In [15]:


def find_duplicates(nums):
    duplicates = []
    for num in nums:
        index = abs(num) - 1
        if nums[index] < 0:
            duplicates.append(abs(num))
        else:
            nums[index] = -nums[index]
    return duplicates

In [7]:
# <aside>
# ðŸ’¡ **Question 7**

# Suppose an array of length n sorted in ascending order is **rotated** between 1 and n times. For example, the array nums = [0,1,2,4,5,6,7] might become:

# </aside>

In [16]:
def find_minimum(nums):
    left = 0
    right = len(nums) - 1

    while left < right:
        mid = left + (right - left) // 2

        if nums[mid] > nums[right]:
            left = mid + 1
        else:
            right = mid

    return nums[left]

In [8]:
# <aside>
# ðŸ’¡ **Question 8**

# An integer array original is transformed into a **doubled** array changed by appending **twice the value** of every element in original, and then randomly **shuffling** the resulting array.

# </aside>

In [17]:
import random

def double_and_shuffle(original):
    doubled = [2 * num for num in original]
    random.shuffle(doubled)
    return doubled